body {
  overflow: hidden !important;
}

form {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  display: block;
  padding: 10px;
  /* margin-top: 10px; */
}

button {
  padding: 10px;
  margin: 10px 0 20px;
}

.format {
  font-size: 0.7rem;
  margin-bottom: 20px;
  font-style: italic;
}
