.codes_form {
  /* height: 100vh; */
  margin-top: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.codes_form input {
  display: block;
  padding: 10px;
}

.codes_form button {
  padding: 10px;
  margin: 10px 0 30px;
}

.format {
  font-size: 0.7rem;
  font-style: italic;
}

/* Github Users */

.avatar {
  width: 100px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px;

}

table,
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user_form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.user_form input {
  padding: 5px;
}

.found {
  text-align: center;
}